<a class="col-sm-6" href="<%= event_path(event) %>" style="text-decoration: none;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="text-info"><%= event.name %></h4>
    </div>
    <div class="panel-body">
      <h2><%= event.start_time.strftime("%I:%M %p %a %d %b")%></h2>
      <p class="text-success"><%= event.venue %></p>
      <% if event.expired? %>
        <span class="label label-danger">PAST EVENT</span>
      <% end %>
    </div>
    <div class="panel-footer text-right">
      <h4 class=""><%= number_to_currency event.ticket_price, unit: "₹" %></h4>
    </div>
  </div>
</a>