<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h2 class="text-primary"><%= @event.name %></h2>
    </div>
  </div>
  <div class="panel-body">
    <h2><%= @event.start_time.strftime("%I:%M %p %a %d %b")%></h2>
    <p class="text-success"><%= @event.venue %></p>
    <p><%= @event.description%> </p>
  </div>
  <div class="panel-footer">
    <%= past_or_attend_or_unattend(@event) %>
    <h4 class="pull-right"> <%= render partial:"shared/event_ticket_price", locals: {event: @event} %></h4>
    <%= render partial: "event_attendees", locals: { event: @event } %>
    <div class="clearfix"></div>
  </div>
</div>

<%= link_to events_path do %>
  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">&nbsp;</span><span>Back</span>
<% end %>
